<div class="login-body">
  <div class="login-panel ui-fluid">
    <div class="ui-g">

      <div class="ui-g-12 login-header">
        <h1>Password reset</h1>
      </div>

      <form (ngSubmit)="resetPassword()" #resetPasswordForm="ngForm">
        <div class="ui-g-12">
            <span class="md-inputfield">
                <input type="password"
                       name="password"
                       pInputText
                       required
                       [(ngModel)]="model.password">
                <label>Password</label>
            </span>
        </div>

        <div class="ui-g-12">
            <span class="md-inputfield">
                <input type="password"
                       name="passwordRepeat"
                       pInputText
                       [(ngModel)]="model.passwordRepeat"
                       [ngClass]="{'ng-invalid': model.passwordRepeat && model.password!==model.passwordRepeat }">
                <label>Repeat Password</label>
               <div class="ui-message ui-messages-error ui-corner-all"
                    *ngIf="model.passwordRepeat && model.password!==model.passwordRepeat">
                 Passwords must be same
               </div>
            </span>
        </div>

        <div class="ui-g-12">
          <button type="submit"
                  pButton
                  label="Reset Password"
                  icon="ui-icon-vpn-key"
                  [disabled]="!resetPasswordForm.form.valid ||
                  _restService?.isLoading() ||
                  model.password!=model.passwordRepeat">
            <span class="ui-button-text ui-c"  *ngIf="_restService?.isLoading()">Loading...</span>
          </button>
        </div>
      </form>


    </div>
  </div>
</div>
