<div class="login-body" >
  <div class="login-panel">
    <div class="ui-g fb-container-centered ">
      <div class="ui-g-12 login-header">
        <h1>Server error</h1>
      </div>
      <div class="card-padding centered">
        <h2>ups... There was a server error.</h2>
        <p>We are checking it out. If this repeats please email us at</p>
        <p>
          <a class="blue-link" href="mailto:support@adspy.com">support@adspy.com</a>
        </p>
      </div>
    </div>
  </div>
</div>
