<div class="login-body">
  <div class="login-panel ui-fluid" [ngStyle]="{'min-height': '355px'}">
    <div class="ui-g">

      <div class="ui-g-12 login-header">
        <h1>Forgot password</h1>
      </div>

      <form (ngSubmit)="sendResetLink()" #resetForm="ngForm">
        <div class="ui-g-12 space-on-top">
          <span class="md-inputfield">
              <input type="text"
                     name="email"
                     required
                     pInputText
                     [(ngModel)]="email"
                     pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$">
              <label>Email</label>
          </span>
        </div>

        <div class="ui-g-12 space-on-top">
          <button type="submit"
                  pButton
                  label="Send Reset Link"
                  icon="ui-icon-vpn-key"
                  [disabled]="!resetForm.form.valid ||  _restService.isLoading()">
            <span class="ui-button-text ui-c"  [hidden]="!_restService.isLoading()" >Loading...</span>
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
